:host {
  display: block;

  header {
    position: relative;
    cursor: pointer;
    padding: 10px;
    background: #3393d4;
    color: #fff;
    border-bottom: 2px solid #f2f2f2;

    &:after {
      position: absolute;
      content: "\25b6";
      right: 10px;
      transition: transform 0.5s;
    }
    &.open:after {
      transform: rotate(90deg);
    }

    &.open + section {
      max-height: 600px;
      padding: 10px;
    }

  }
  section {
    overflow: hidden;
    max-height: 0;
    background: #eee;
    color: #333;
  }

}
